html {
    background-color: rgb(173, 216, 230);
}

body {
    margin: 0;
}

@font-face {
    font-family: OpenSans;
    src: url(OpenSans_Condensed-Regular.ttf);
}

.topBar {
    font-family: "OpenSans";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
    margin-top: 0;
}

.navBar {
    background-color: rgb(147, 200, 209);
    border-radius: 5rem;
    width: auto;
    height: 2rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navBar a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.logo {
    border-color: rgb(206, 206, 206);
    border: 0.1rem solid;
    font-weight: 700;
    padding: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(151, 151, 151);
    color: rgb(0, 0, 0);
}

.mottoContainer {
    text-align: center;
    border-color: rgb(206, 206, 206);
    border: 0.1rem solid;
    background-color: rgb(206, 206, 206);
    margin: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pictureContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin: 2rem;
}

.footer {
    background-color: rgb(148, 148, 148);
    color: rgb(0, 0, 0);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer p, .footer a {
    margin-left: 4rem;
}

.textboxContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 2rem;
}

.textBox {
    width: 3rem;
    margin-left: 0;
    border-radius: 1rem;
    background-color: rgb(95, 95, 95);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}